@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
            <th>Job Title</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.employee)
        {
            <tr>
                <td>@emp.EmployeeID</td>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.DateOfBirth</td>
                <td>@emp.Email</td>
                <td>@emp.PhoneNumber</td>
                <td>@emp.HireDate</td>
                <td>@emp.JobTitle</td>
                <td>@emp.Salary</td>
                <td><button>Edit</button></td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@emp.EmployeeID">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }


        <!-- Form to Add a New Employee -->
        <form method="post">
        <tr>
            <td><input disabled="disabled" class="form-control" /></td>
            <td><input asp-for="NewEmployee.FirstName" class="form-control" /></td>
            <td><input asp-for="NewEmployee.LastName" class="form-control" /></td>
            <td><input asp-for="NewEmployee.DateOfBirth" type="date" class="form-control" /></td>
            <td><input asp-for="NewEmployee.Email" class="form-control" /></td>
            <td><input asp-for="NewEmployee.PhoneNumber" class="form-control" /></td>
            <td><input asp-for="NewEmployee.HireDate" type="date" class="form-control" /></td>
            <td><input asp-for="NewEmployee.JobTitle" class="form-control" /></td>
            <td><input asp-for="NewEmployee.Salary" class="form-control" /></td>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Add +</button>
            </td>
        </tr>
        </form>
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

 @*        <tr>
            <td><input type="text" id="empid" name="empid"></td>
            <td><input type="text" id="fname" name="fname"></td>
            <td><input type="text" id="lname" name="lname"></td>
            <td><input type="text" id="dob" name="dob"></td>
            <td><input type="text" id="email" name="email"></td>
            <td><input type="text" id="phone" name="phone"></td>
            <td><input type="text" id="hiredate" name="hiredate"></td>
            <td><input type="text" id="jobtitle" name="jobtitle"></td>
            <td><input type="text" id="salary" name="salary"></td>
            <td><button>Add +</button></td>
        </tr>
    </tbody>
</table> *@